* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.top {
    padding-bottom: 99px;
    background-color: #020a18;
}
.header {
    padding-top: 39px;
    padding-bottom: 39px;
    
}
.header__link {
    color: #fff;
}
.top__content {
    margin-top: 160px;
    margin-bottom: 197px;

}
.subtitle {
    margin-bottom: 10px;
    font: 600 18px / 1.6 "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #3a68b8;
}
.title {
    margin-bottom: 40px;
    font: 800 55px / 1.3 "Open Sans", sans-serif;
    color: #fff;
}
.top__buttons {
    margin-top: 50px;
    

}
.button {
    
    border-radius: 5px;
    padding: 15px 30px;
    width: 171px;
    height: 57px;background-color: #3a68b8
}
.top__logos {
    
}