* {
    margin: 0;
    padding: 0;
}
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}
a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 587px);
    padding-right: calc(50% - 587px);
}
.top {
    width: 1920px;
    height: 889px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 1174px;
    padding: 40px;
    margin: auto;
}

.header img {
    max-width: 100px; 
    height: auto;
}
.header__link1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
    width: 577px;
    height: 37px;

}
.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: 86px;
    height: 37px;
} 
.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 52px;

}
.img__center {
    width: 545px;
}
.top__info {
    width: 556px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    font: 400 20px / 1.4 "Inter", sans-serif;
    color: #888;
}
.title {
    font: 700 60px / 1.2;
    color: #000;
    margin-bottom: 40px;
}
.top__buttons {
    width: 556px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
}
.button {
    border-radius: 56px;
    padding: 16px 10px;
    width: 140px;
    height: 51px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
}
.top__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 48px;
    padding: 100px 0px;
    width: 1920px;
    height: 250px;
    background: #fff;
    
}



.content {
    padding: 100px 373px;
    width: 1920px;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 61px;
    
}

.item {
    width: 310px;
    height: 230px;
    padding: 34px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.img__item {
    border-radius: 15px;
    width: 28px;
    height: 25px;
    
}
.item__content {
    width: 310px;
    height: 89px;
}
.img1__item {
    width: 70px;
    height: 70px;
    background-image: url('data:image/svg+xml;utf8,<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="70" height="70" rx="15" fill="%23F25822" fill-opacity="0.25" /><path d="M23.7778 25.7778V45.2222H46V25.7778H23.7778ZM22.3889 23H47.3889C47.7572 23 48.1105 23.1463 48.371 23.4068C48.6314 23.6673 48.7778 24.0205 48.7778 24.3889V46.6111C48.7778 46.9795 48.6314 47.3327 48.371 47.5932C48.1105 47.8537 47.7572 48 47.3889 48H22.3889C22.0205 48 21.6673 47.8537 21.4068 47.5932C21.1463 47.3327 21 46.9795 21 46.6111V24.3889C21 24.0205 21.1463 23.6673 21.4068 23.4068C21.6673 23.1463 22.0205 23 22.3889 23ZM38.7681 32.4347L36.2778 29.9444H43.2222V36.8889L40.7319 34.3986L35.3653 39.7653L32.4194 36.8194L28.4903 40.7472L26.5264 38.7833L32.4194 32.8903L35.3653 35.8375L38.7681 32.4347Z" fill="%23F25822" /></svg>');
    background-size: cover;
}
.img2__item {
    width: 70px;
    height: 70px;
    background-image: url('data:image/svg+xml;utf8,<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="70" height="70" rx="15" fill="%23149211" fill-opacity="0.28"/><path d="M34.5729 46.9583C34.4521 46.9582 34.3323 46.937 34.2188 46.8958C33.9997 46.8156 33.814 46.6643 33.6912 46.466C33.5684 46.2676 33.5158 46.0339 33.5417 45.8021L34.3438 38.4167H28.2083C28.0191 38.417 27.8334 38.3657 27.6711 38.2684C27.5088 38.171 27.376 38.0313 27.2872 37.8643C27.1983 37.6972 27.1566 37.5091 27.1665 37.3201C27.1765 37.1311 27.2378 36.9484 27.3438 36.7917L35.5625 24.5C35.6925 24.3076 35.883 24.1642 36.1038 24.0925C36.3246 24.0208 36.563 24.0249 36.7813 24.1042C36.991 24.182 37.1701 24.3254 37.2921 24.513C37.414 24.7006 37.4723 24.9225 37.4583 25.1458L36.6563 32.5833H42.7917C42.9809 32.583 43.1666 32.6343 43.3289 32.7316C43.4912 32.829 43.624 32.9687 43.7128 33.1357C43.8017 33.3028 43.8434 33.4909 43.8335 33.6799C43.8235 33.8689 43.7622 34.0515 43.6563 34.2083L35.4375 46.5C35.342 46.6414 35.2131 46.7571 35.0624 46.837C34.9116 46.9169 34.7435 46.9586 34.5729 46.9583ZM30.1563 36.3333H35.5C35.6454 36.3337 35.789 36.3644 35.9218 36.4236C36.0546 36.4828 36.1734 36.5692 36.2708 36.6771C36.3691 36.7865 36.4432 36.9154 36.488 37.0554C36.5329 37.1955 36.5477 37.3434 36.5313 37.4896L36.0625 41.8125L40.8438 34.6667H35.5C35.353 34.6676 35.2075 34.6373 35.073 34.578C34.9385 34.5186 34.8182 34.4315 34.7198 34.3222C34.6214 34.213 34.5472 34.0842 34.5022 33.9443C34.4571 33.8044 34.4422 33.6565 34.4583 33.5104L34.9271 29.1875L30.1563 36.3333Z" fill="%23149211" /></svg>');
    background-size: cover;
}
.img3__item {
    width: 70px;
    height: 70px;
    background-image: url('data:image/svg+xml;utf8,<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="70" height="70" rx="15" fill="%23FFCD1D" fill-opacity="0.24"/><path d="M36.4063 45.9167C35.9032 45.9161 35.4206 45.7178 35.0625 45.3646L28.3854 38.6771C28.2141 38.5067 28.1073 38.2821 28.0833 38.0417L27.1667 28.3021C27.1526 28.1495 27.1724 27.9957 27.2247 27.8517C27.2769 27.7076 27.3602 27.5769 27.4688 27.4688C27.5769 27.3602 27.7076 27.2769 27.8517 27.2247C27.9957 27.1724 28.1495 27.1526 28.3021 27.1667L38.0417 28.0833C38.2821 28.1073 38.5067 28.2141 38.6771 28.3854L45.3646 35.0625C45.7189 35.4179 45.9179 35.8992 45.9179 36.401C45.9179 36.9029 45.7189 37.3842 45.3646 37.7396L37.7396 45.3646C37.3853 45.7172 36.9061 45.9156 36.4063 45.9167ZM30.1563 37.4688L36.4063 43.7188L43.75 36.375L37.5 30.125L29.3646 29.3646L30.1563 37.4688Z" fill="%23FFC700" /><path d="M33.9375 35.5C34.8004 35.5 35.5 34.8004 35.5 33.9375C35.5 33.0746 34.8004 32.375 33.9375 32.375C33.0746 32.375 32.375 33.0746 32.375 33.9375C32.375 34.8004 33.0746 35.5 33.9375 35.5Z" fill="%23FFC700"/></svg>');
    background-size: cover;
}